/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * MartianDice implementation : © Pavel Kulagin kuzwiz@mail.ru
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * martiandice.css
 *
 * MartianDice stylesheet
 *
 */

#board {
    width: 780px;
    height: 900px;
    display: grid;
    grid-auto-rows: 56px;
    align-self: center;
}

#play_area, #military_area {
    width: 780px;
    display: flex;
    justify-content: center;
    position: relative;
}

.logs_on_additional_column #play_area {
    max-width: 525px;
    flex-wrap: wrap;
}

#tank_area, #deathray_area {
    height: fit-content;
}

#earthlings {
    position: absolute;
    margin-left: 10px;
}

#e1_area, #e2_area, #e3_area {
    display: flex;
    max-width: 240px;
    flex-wrap: wrap;
    margin-top: 22px;
}

.pa_square, .aside_square, .tank_square, .deathray_square, .e1_square, .e2_square, .e3_square {
    width: 55px;
    height: 55px;
    margin: 0 5px 5px 0;
}

.die {
    width: 55px;
    height: 55px;
    position: absolute;
    background-image: url('img/martiandice55.png');
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222)
}

.dietype_ufo { background-position: 0 0; }
.dietype_cow { background-position: -55px 0; }
.dietype_tank { background-position: -110px 0; }
.dietype_chicken { background-position: -165px 0; }
.dietype_human { background-position: -220px 0; }

.impossibleMove {
    opacity: 0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
    cursor: default;
}

.turn-order {
    font-size: 25px;
    padding-left: 15px;
    font-weight: bold;
    text-shadow: 1px 2px 10px #dddddd;
}